<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
</head>
<body>
<h1>영화 정보 전송 페이지</h1>
<hr/>
<form method="post" action="/image" enctype="multipart/form-data">

    <label for="pic">사진 업로드:</label>
    <input type="file" name="pic" id="pic"/><br><br>


    <label for="title">영화 제목:</label>
    <input type="text" name="title" id="title"/><br><br>


    <label for="director">영화 감독:</label>
    <input type="text" name="director" id="director"/><br><br>


    <label for="cast">출연진:</label>
    <input type="text" name="cast" id="cast"/><br><br>


    <label for="releaseDate">개봉 날짜:</label>
    <input type="date" name="releaseDate" id="releaseDate"/><br><br>


    <label for="rating">상영 등급:</label>
    <input type="text" name="rating" id="rating"/><br><br>


    <label for="description">영화 설명:</label>
    <input type="text" name="description" id="description"/><br><br>


    <button type="submit">전송</button>
</form>
</body>
</html>
