@import url("https://fonts.googleapis.com/css?family=Lato&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

 .content {
    margin-top: 848px;
    display: block;
    width: 100%;
    margin-left: auto;
    text-align: center;
/*    background-color: #FFFAFA;*/
}

.game-details .movie-seat {
    flex: 1; /* 남은 공간을 채우도록 설정 */
    height: 758px;
    padding: 50px;
    color: #2b2b2b; /* 텍스트 색상 */
    background-color: #E6E6E6;
     border: 1px solid #2b2b2b; /* 실선 테두리 */
     margin-bottom: -1px; /* 다음 요소와의 중복 방지를 위해 마이너스 마진 적용 */
     margin-right: -1px; /* 다음 요소와의 중복 방지를 위해 마이너스 마진 적용 */
}

body {
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  font-family: "Lato", sans-serif;
}

.back-ground {
 width: 1200px;
 background-color: #242333;
 border-radius: 10px;

}

.movie-container {
  margin-top: 50px;
  display: flex;
  justify-content: center; /* 수평 가운데 정렬 */
  align-items: center;     /* 수직 가운데 정렬 */
}
.movie-container label {
  display: flex;
  justify-content: left;
  align-content: center;
  padding-top: 10px;
}
.movie-container select {
  background-color: #fff;
  border: 0;
  border-radius: 5px;
  font-size: 14px;
  margin-left: 10px;
  padding: 5px 15px 5px 15px;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  margin-right: 25px;
}

.container {
  perspective: 1000px;
  margin-bottom: 30px;
}

.seat {
  background-color: #ffffff;
  color: black;
  height: 28px;
  width: 35px;
  margin: 3px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  padding: 5px;
  display: flex;
  justify-content: center;
  font-weight: 800;
  font-size: 16px;
}
.seat.selected{
  background-color: #6feaf6 ;
}

.seat.occupied {
  background-color: #cc0000;
}

.seat:nth-of-type(2) {
  margin-right: 18px;
}

.seat:nth-last-of-type(2) {
  margin-left: 18px;
}

.seat:not(.occupied):hover {
  cursor: pointer;
  transform: scale(1.2);
}

.showcase .seat:not(.occupied):hover {
  cursor: default;
  transform: scale(1);
}

.showcase {
  background: rgba(0, 0, 0, 0.1);
  padding: 5px 5px;
  border-radius: 5px;
  color: #ffff4d;
  list-style-type: none;
  display: flex;
  justify-content: space-between;
}

.showcase li {
  display: flex;
  align-items: center;
  justify-content: right;
  margin: 0 10px;
}

.showcase li small {
  margin-left: 2px;
}

.row {
  display: flex;
  justify-content: center; /* 수평 가운데 정렬 */
  align-items: center;     /* 수직 가운데 정렬 */
}

.screen {
  background-color: #fff;
  height: 75px;
  width: 70%;
  margin: 15px 177px;
  transform: rotateX(-45deg);
  box-shadow: 0 3px 10px rgba(255, 255, 255, 0.7);
}

p.text {
  margin: 5px 210px;
}

p.text span {
  color: #6feaf6;
}
