<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="UTF-8">
    <title>ShowTime</title>
</head>

<body>
<h1>영화 상영시간 정보 등록 페이지</h1>
<hr/>

<form role="form" action="/showtime/showtimeInfoForm" th:object="${showTime}" method="post" enctype="multipart/form-data">
    <div class="form-group">
        <label>상영영화: </label>
        <select th:field="*{movie}" class="form-control">
            <option value="" disabled selected>영화를 선택하세요</option>
            <option th:each="movie : ${movies}" th:value="${movie.movieID}" th:text="${movie.title}"></option>
        </select><br/>
    </div>

    <!-- 상영관 선택 드롭다운 -->
    <label for="theater">상영관 선택:</label>
    <select name="theater" id="theater">
        <option value="">상영관 선택</option>
        <!-- 상영관 목록을 드롭다운으로 표시 -->
        <th:block th:each="theater : ${theaters}">
            <option th:value="${theater.theaterID}" th:text="${theater.screenNum}"></option>
        </th:block>
    </select>

    <div class="form-group">
        <label>상영날짜: </label>
        <input type="date" th:field="*{showDate}" class="form-control" placeholder="상영날짜를 선택하세요"><br/>
    </div>

    <div class="form-group">
        <label>시작시간: </label>
        <input type="time" th:field="*{startTime}" class="form-control" placeholder="시작시간을 선택하세요"><br/>
    </div>

    <div class="form-group">
        <label>종료시간: </label>
        <input type="time" th:field="*{endTime}" class="form-control" placeholder="종료시간을 선택하세요"><br/>
    </div>

    <button type="submit" class="btn btn-primary">전송</button>

</form>

</body>
</html>
